<div class="split">
  <div class="profile">
    <div class="mini-header">
      <a href=""><i class="fa-solid fa-arrow-left"></i></a>
      <p>{{ userData()?.userName }}</p>
      <p class="postCount">{{ postAmount() }} posts</p>
    </div>
    <div class="vl"></div>
    <div class="user-info">
      <div class="background-wrapper">
        <img src="backgound.png" alt="background image" class="backgound-image" />
        <div class="userIconBox">
          <img
            src="{{ userData()?.avatarUrl }}"
            class="userIcon"
            [attr.aria-label]="userData()?.userName + ' avatar'"
          />
        </div>
      </div>
      <div class="edit">
        <button type="button" (click)="onEditProfile()">Edit Profile</button>
      </div>

      @if (userData()) {
        <div>
          <h2>{{ userData()!.userName }}</h2>
          <p>@{{ userHandle() }}</p>
          <p>{{ userData()!.bio }}</p>
          <div class="follow">
            <p>FOLLOWING: {{ userData()!.followingCount }}</p>
            <p>FOLLOWERS: {{ userData()!.followersCount }}</p>
          </div>
        </div>
      }
    </div>

    <div>
      <ul class="menuProfile">
        <li (click)="changeUserReactions('Posts')">Posts</li>
        <li (click)="changeUserReactions('Replies')">Replies</li>
        <li (click)="changeUserReactions('Likes')">Likes</li>
        <li (click)="changeUserReactions('Bookmarked')">Bookmarked</li>
      </ul>
    </div>

    <div class="vl"></div>
    @if (userReactions === 'Posts') {
      <app-user-posts
        [userHandle]="userHandle()"
        (postsAmount)="onPostsAmountChange($event)"
      ></app-user-posts>
    } @else if (userReactions === 'Replies') {
      <p>REPLIES GO HERE</p>
    } @else if (userReactions === 'Likes') {
      <p>LIKES GO HERE</p>
    } @else {
      <p>Bookmarked GO HERE</p>
    }
  </div>
  <hr />
  <div class="news" id="news">
    <app-news></app-news>
  </div>
</div>
@if (isEdited && userData()) {
  <app-edit-profile (cancel)="closing()"></app-edit-profile>
}
