.forum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input {
  border-radius: 1rem;
}
.posts {
  border-radius: 1rem;
}
.vl {
  margin: 0px;
  padding: 0px;
  height: 2px;
  background-color: #636a79;
}
