.forum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.input {
  border-radius: 1rem;

  background-color: antiquewhite;
}
.posts {
  border-radius: 1rem;
  background-color: rgb(204, 204, 64);
}
