.split {
  display: grid;
  grid-template-columns: 5fr 2px;
  height: 100%;
}
.form {
  grid-column: 1;
}

hr {
  grid-column: 2;

  margin: 0;
  border: none;
  background-color: #636a79;
}
h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 1000px) {
  .split {
    grid-template-columns: 1fr;
  }

  .split hr {
    display: none;
  }
}
