* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 80%;
}
.logo img {
  background-color: rgb(164, 197, 193);
  padding: 0.5rem;
  border-radius: 3rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}
.logo {
  background: none;
  justify-content: center;
}
.logo:hover {
  background: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
li {
  background-color: rgb(95, 114, 121);
  border-radius: 1rem;
  font-size: 1.2rem;
}
a {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: rgb(251, 246, 239);
  gap: 0.75rem;
  font-weight: 500;
  align-items: center;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-shadow: #cdc6c6;
  transform: 1px 1px 1px;
}
.logout {
  margin-top: auto;
  width: 100%;
  background-color: rgb(251, 246, 239);
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #000;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.292);
}

@media only screen and (max-width: 1000px) {
  nav {
    width: 4.5rem;
    padding: 1rem;
    justify-self: center;
  }

  ul {
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  a span {
    display: none;
  }

  a {
    align-items: center;

    justify-content: center;
  }
  li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .logout img {
    display: none;
  }
}
