body {
  background-color: #151f30;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.vl {
  margin: 0px;
  padding: 0px;
  height: 2px;
  background-color: #746379;
}
.userIcon {
  width: 30px;
  height: 30px;
  background-color: antiquewhite;
  border-radius: 2rem;
}
