* {
  justify-self: center;
  color: aquamarine;
}
.news {
  border: 2px solid #d3b1b1;
  margin: 1rem;
  border-radius: 1rem;
}
.news h2 {
  color: rgb(175, 213, 227);
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;

  padding: 1rem;

  border: 1px solid #d3b1b1;
}
.article img {
  width: 60%;
  height: 60%;
}

.article .artTitle {
  color: #f1d9d9;
  width: 75%;
  font-size: 1rem;
  margin: 0;
}
.article .artCreator {
  color: #686790;
  font-size: small;
  margin: 0;
}

.article:hover {
  background-color: #2c3950;
}
.content {
  background-color: aliceblue;
}
