<div class="news">
  <h2>LATEST NEWS!</h2>
  @if (news()) {
    @for (n of news(); track $index) {
      <a href="{{ n.link }}" target="_blank" class="article">
        <p class="artTitle">{{ n.title }}</p>
        @if (n.image_url) {
          <!-- <img src="{{ n.image_url }}" alt="" /> -->
        }
        <div class="artCreator">
          <!-- slice(8) deletes https//: and i hope all news sites use https and not http :)-->
          <p>{{ n.source_url.slice(8) }}</p>
          <p>{{ n.pubDate | date: 'd/M/yy' }}</p>
        </div>
      </a>
      <div class="vl"></div>
    }
  }
</div>
