.split {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5fr 2px 2fr;
}
.form {
  grid-column: 1;
  background-color: rgb(136, 188, 188);
  border-radius: 1rem;
}
.news {
  grid-column: 3;
  padding-right: 0px;

  background-color: rgb(80, 85, 164);
  border-radius: 1rem;
}
hr {
  grid-column: 2;

  margin: 0;
  border: none;
  background-color: #636a79;
}
