.split {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5fr 2px 2fr;
  height: 100%;
}
.form {
  grid-column: 1;
}
.news {
  grid-column: 3;
  background-color: rgb(80, 85, 164);
  border-radius: 1rem;
}
hr {
  grid-column: 2;

  margin: 0;
  border: none;
  background-color: #636a79;
}

@media screen and (max-width: 1000px) {
  .split {
    grid-template-columns: 1fr;
  }

  .news,
  .split hr {
    display: none;
  }
}
