<div class="userInfo">
  @if (postContent().user) {
    <img [src]="postContent().user.avatarUrl" />
    <div class="userNameHandle">
      <p class="userName">{{ postContent().user.userName }}</p>
      <p class="userHandle">@{{ postContent().user.userHandle }}</p>
    </div>
  }

  <p class="dateOfPost">{{ postContent().createdAt | date: 'short' }}</p>
  @if (postContent().address) {
    <p class="location"><i class="fa-solid fa-location-dot"></i> {{ postContent().address }}</p>
  }
</div>

<div class="content">
  <p>{{ postContent().text }}</p>
</div>
<div class="reaction">
  <ul>
    <li>
      @if (!isPostLiked) {
        <i class="fa-regular fa-heart" (click)="onLiked()"></i>
      } @else {
        <i class="fa-solid fa-heart" (click)="onLiked()"></i>
      }
      <p>{{ localLikes }}</p>
    </li>
    <li><i class="fa-solid fa-repeat"></i></li>
    @if (!isBookmarked) {
      <li><i class="fa-regular fa-bookmark" (click)="onBookmarked()"></i></li>
    } @else {
      <li><i class="fa-solid fa-bookmark" (click)="onBookmarked()"></i></li>
    }
    <li><i class="fa-solid fa-share"></i></li>
  </ul>
</div>
