* {
  color: rgb(209, 230, 241);
}
.fa-flag {
  margin-left: auto;
  padding-right: 1rem;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.userInfo img {
  width: 30px;
  height: 30px;
  background-color: antiquewhite;
  border-radius: 2rem;
}
.userInfo .userNameHandle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
.userInfo .userName {
  font-size: 1.2rem;
  font-weight: bold;
}
.userInfo .userHandle {
  color: rgb(125, 141, 150);
}
.userInfo .location,
.fa-location-dot {
  margin-left: auto;
  color: rgb(70, 180, 238);
}
.content {
  padding: 0 2rem;
}
.content p {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.reaction {
  display: flex;
}
.reaction ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  width: 100%;
  list-style: none;
  margin: 0px;
}
.reaction ul li {
  display: flex;
  flex-direction: row;
}
.reaction ul li p {
  margin: 0px;
  margin-left: 0.2rem;
}
