* {
  color: rgb(209, 230, 241);
}
.fa-flag {
  margin-left: auto;
  padding-right: 1rem;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.content {
  padding: 0 2rem;
}
.content p {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.reaction {
  display: flex;
}
.reaction ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.reaction ul li {
  display: flex;
  flex-direction: row;
}
